In [1]:
2**100

1267650600228229401496703205376

# 데모

In [7]:
import pandas as pd
df = pd.read_excel('환율-20180914.xls' , index_col='통화명')
print(df.shape)
df

(44, 6)

                 매매기준율  현찰 - 사실 때  현찰 - 파실 때  송금 - 보내실 때  송금 - 받으실 때  미화환산율
통화명
미국 USD         1122.50    1142.14    1102.86     1133.50     1111.50  1.000
유럽연합 EUR       1304.23    1330.18    1278.28     1317.27     1291.19  1.162
일본 JPY (100엔)  1007.22    1024.84     989.60     1017.09      997.35  0.897
중국 CNY          163.96     172.15     155.77      165.59      162.33  0.146
홍콩 HKD          143.02     145.83     140.21      144.45      141.59  0.127
대만 TWD           36.44      40.81      33.89        0.00        0.00  0.033
영국 GBP         1465.31    1494.17    1436.45     1479.96     1450.66  1.305
오만 OMR         2915.58    3090.51    2740.65        0.00        0.00  2.597
캐나다 CAD         862.33     879.31     845.35      870.95      853.71  0.768
스위스 CHF        1157.81    1180.61    1135.01     1169.38     1146.24  1.032
스웨덴 SEK         124.94     128.00     121.88      126.18      123.70  0.111
호주 AUD          806.29     822.17     790.41      814.35      798.23  0.718
뉴질랜드 NZD        734.96     749.43     720.49      742.30      727.62  0.655
체코 CZK           51.11      55.45      46.52       51.67       50.55  0.046
칠레 CLP            1.63       1.76       1.50        0.00        0.00  0.002
터키 TRY          174.57     188.53     160.61      176.49      172.65  0.156
몽골 MNT            0.45       0.00       0.00        0.00        0.00  0.000
이스라엘 ILS        313.66     326.20     288.57        0.00        0.00  0.279
덴마크 DKK         174.86     179.14     170.58      176.60      173.12  0.156
노르웨이 NOK        136.06     139.39     132.73      137.42      134.70  0.121
사우디아라비아 SAR     299.28     311.25     278.63      302.27      296.29  0.267
쿠웨이트 KWD       3706.70    3854.96    3410.17     3743.76     3669.64  3.302
바레인 BHD        2977.30    3096.39    2739.12     3007.07     2947.53  2.652
아랍에미리트 AED      305.60     317.82     284.52      308.65      302.55  0.272
요르단 JOD        1581.32    1644.57    1454.82        0.00        0.00  1.409
이집트 EGP          62.67       0.00       0.00        0.00        0.00  0.056
태국 THB           34.38      36.09      32.32       34.72       34.04  0.031
싱가포르 SGD        818.00     834.27     801.73      826.18      809.82  0.729
말레이시아 MYR       270.84     284.38     254.59        0.00      268.14  0.241
인도네시아 IDR 100     7.58       8.11       6.83        7.65        7.51  0.007
카타르 QAR         308.29       0.00       0.00        0.00        0.00  0.275
카자흐스탄 KZT         3.00       0.00       0.00        0.00        0.00  0.003
브루나이 BND        817.97     850.68     768.90        0.00        0.00  0.729
인도 INR           15.58       0.00       0.00        0.00        0.00  0.014
파키스탄 PKR          9.11       0.00       0.00        0.00        0.00  0.008
방글라데시 BDT        13.38       0.00       0.00        0.00        0.00  0.012
필리핀 PHP          20.74      22.60      19.29       20.94       20.54  0.019
멕시코 MXN          58.94      61.29      52.46       59.52       58.36  0.053
브라질 BRL         269.72     297.23     248.15        0.00      266.49  0.240
베트남 VND 100       4.82       5.38       4.26        4.86        4.78  0.004
남아프리카 공화국 ZAR    75.44      79.96      69.41       76.34       74.54  0.067
러시아 RUB          16.40      17.54      14.60       16.56       16.24  0.015
헝가리 HUF           4.01       4.38       3.69        4.05        3.97  0.004
폴란드 PLN         302.16     326.33     277.99      305.48      298.84  0.269